body { 
    background: url(pictures/about.jpg) fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.header{
    background-color: #e0e0e0;
}

.border-link{
    border-style: solid;
    border-width: 3px;
    width: 350px;
}

.border-link:hover{
    opacity: 0.8;
}

.active-sidebar{
    border-left: 5px solid #5d5dff;
}

.center{
    display: flex;
    justify-content:  center;
    align-items: center;
}

.cityName-wrapper, .dayForecast-wrapper, .weekForecast-wrapper,
.radar-wrapper, .forecastInfo-wrapper, .aboutFirst-wrapper, 
.aboutSecond-wrapper, .sidebar-space{
    background: white;
}

/* ---------------------------------------------------
    MEDIA
  ----------------------------------------------------- */
@media only screen and (max-width: 1250px) {
    .sidebar, .header-paddingFront, .header-paddingBack{
        display: none
    }

    .header-secondary{
        display:flex;
    }

    .content-wrapper{
        margin-top: 3rem;
        margin-bottom: 3rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .aboutFirst-wrapper, .aboutSecond-wrapper{
        margin-bottom: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
  }

@media only screen and (min-width: 1250px) {
    .header-secondary{
        display: none;
    }

    .content-wrapper{
        margin-top: 3rem;
        margin-bottom: 3rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .aboutFirst-wrapper{
        margin-right: 3rem;
    }
}

