body { 
    background-image: linear-gradient(#ffffff80, #ffffff80), url("./pictures/about.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.header {
    background-color: #e0e0e0;
}

.inputSearch {
    height: 45px;
}

/* Italic input-placeholder */
::-webkit-input-placeholder {
    font-style: italic;
 }
 :-moz-placeholder {
    font-style: italic;  
 }
 ::-moz-placeholder {
    font-style: italic;  
 }
 :-ms-input-placeholder {  
    font-style: italic; 
 }

a:hover {
    text-decoration: none;
} 
.border-link {
    padding: 0;
    border-style: solid;
    border-width: 2px;
    width: 350px;
}

.border-link:hover {
    opacity: 0.75;
}

.active-sidebar {
    border-left: 5px solid #4646ff;
}

.center {
    display: flex;
    justify-content:  center;
    align-items: center;
}

/* Wrapper background color */
.cityName-wrapper, .dayForecast-wrapper, .weekForecast-wrapper,
.radar-wrapper, .forecastInfo-wrapper, .aboutFirst-wrapper, 
.aboutSecond-wrapper, .sidebar-space {
    background: white;
}

/* ---------------------------------------------------
    MEDIA
  ----------------------------------------------------- */
@media only screen and (max-width: 1250px) {
    .sidebar, .header-paddingFront, .header-paddingBack {
        display: none
    }

    .header-secondary {
        display:flex;
    }

    .content-wrapper {
        margin-top: 3rem;
        margin-bottom: 3rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .aboutFirst-wrapper, .aboutSecond-wrapper {
        margin-bottom: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
  }

@media only screen and (min-width: 1250px) {
    .header-secondary{
        display: none;
    }

    .content-wrapper {
        margin-top: 3rem;
        margin-bottom: 3rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .aboutFirst-wrapper {
        margin-right: 3rem;
    }
}

